<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Succes Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    
        {% if messages %}
            {% for message in messages %}
                <p class='text-success'>{{message}}</p>
            {% endfor %}
        {% endif %}
    
    <h1>Welcome, you've been logged in, {{ user.first_name }}</h1>
    <a href="/">Logout</a>
</body>
</html>