<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>User Show</title>
    
</head>
<body>
    
        <h3 class="">Show User {{user.id}}</h3>
        <p class="">Full Name: {{user.first_name}} {{user.last_name}}</p>
        <p class="">Email: {{user.email}}</p>
        <p class="">Created at: {{user.created_at}}</p>
        <a href="edit/">Edit</a>|
        <a href="destroy/">Delete</a>|
        <a href="../">Go Back</a>
    
</body>
</html>