<!DOCTYPE html>
<html lang="en">
<head>
        <link href="../../static/first_app/img/HandLogo-transparent.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hearts & Hands</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body class="">
    <header>
    <div class="">
        
       <div class="container">
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white pl-5 m-0 p-0">
                <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-3">
                        <li class="nav-item align-middle mt-2">
                            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="ml-5 nav-item dropdown active mt-2">
                            <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ABOUT
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/about/">WHO WE ARE</a>
                                <a class="dropdown-item" href="/about/#deaf">WHY WORK WITH THE DEAF?</a>
                                <a class="dropdown-item" href="/about/#difference">HOW WE'RE MAKING A DIFFERENCE</a>
                                <a class="dropdown-item" href="/about/#stories">OUR STORIES</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown ml-5 mt-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PRODUCTS
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">BAGS</a>
                                <a class="dropdown-item" href="#">JEWELRY</a>
                                <a class="dropdown-item" href="#">ACCESSORIES</a>
                                <a class="dropdown-item" href="#">SEASONAL</a>
                            </div>
                        </li>
                        <li class="nav-item ml-5">
                            <a class="navbar-brand" href="/"><img src="../../static/first_app/img/HandLogo-transparent.png" class="" style="height: 50px"></a>
                            <a class="navbar-brand" href="/"><img src="../../static/first_app/img/heartsHandsText-transparent.png" class="" style="height: 50px"></a>
                        </li>
                        <li class="nav-item ml-5 mt-2">
                            <a class="nav-link" href="/get_involved/">GET INVOLVED</a>
                        </li>
                        <li class="nav-item ml-5 mt-2">
                            <a class="nav-link" href="#">CART</a>
                        </li>
                        <li class="nav-item ml-5 mt-2">
                            <a class="nav-link" href="/contact/1/">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>
       </div>
    </div>
    </header>
    <form>
            <fieldset disabled>
                <input type="text" class="border-0">
                <input type="text" class="border-0">
                <input type="text" class="border-0">
                <input type="text" class="border-0">
            </fieldset>
        </form>
    <div class="container border-bottom p-5">
        <h2 class="text-danger">Who We Are</h2>
        <p>Hearts and Hands is a social business serving the deaf and disabled community in Kunming, China. It was founded in 2000 with the goal of giving a better future for those who are disadvantaged in Yunnan.</p>
        <p>Today, our staff  has grown into a wonderful family and is creating beautiful products that are sold around the world. Our workers are all deaf or disabled men and women from local communities in the Yunnan province. As we move forward, we aim to continuously provide a safe and healthy working environment for our staff, along with fair wages and adequate training and enlarge our business so that more jobs can be offered to the deaf and disabled community. At the same time, we pledge to produce high-quality products for our customers.</p>
        <p id="deaf"></p>
    </div>
    <div class="container border-bottom p-5">
        <h2 class="text-danger">Why Work With The Deaf?</h2>
        <p>According to UNICEF, there are approximately 120 million people in China with mild to severe hearing loss - that's 10% of the population. They exist in every city, every township and thousands of small villages.</p>
        <p>In a country that's already highly populated, a person that suffers from any disability is more often than not discriminated and treated unfairly. We believe that everyone is created uniquely, and disability does not equal inability. They have the desire and the potential to become responsible citizens and contribute to society positively.  Therefore it is our job to make sure any physical challenges stop blocking them to live an abundant life.</p>
        <p id="difference"></p>
    </div>
    <div class="container border-bottom p-5">
        <h2 class="text-danger">How We're Making A Difference</h2>
        <p>Seeing the needs of the deaf community, our founder and former director Ingrid decided to establish a training class in patchwork and quilting for the young deaf. Fresh from UK and equipped with a degree in Sign Language, she learned the local sign language and began building relationships with the local deaf people, providing counselling, guidance and training. It wasn't long until the class became a small handicraft business employing young deaf who would otherwise struggle to make a living.</p>
        <p>Today, we employ deaf and disabled men and women. They work in our workshop located within Kunming city. Their hours are fair and regular and any overtime is well-compensated. They have paid annual leaves and social welfare benefits, including health insurance and pension.</p>
        <p id="stories"></p>
    </div>
    <div class="container p-5">
        <h2 class="text-danger mb-5">Our Stories</h2>
        <div class="row">
            <div class="col-lg-4 border-bottom pb-5">
                <h3>Lei</h3>
                <h4 class="text-danger">Seamstress</h4>
                <p>From the countryside, Lei was born Deaf. Due to lack of resources, she received only two years of education but was able to learn basic Sign Language through her Deaf friends.</p>
                <p>When she heard about the Deaf Training Program at Project Grace (now Bless China International), she decided to learn more Sign Language. While in the program she realised a love for sewing and stayed in Kunming to become one of Hearts and Hands’ very first workers.</p>
                <p>Working at Hearts and Hands has brought Lei Hong Mei friendship and confidence. She is now happily married and communicates easily through Sign. She continues to be an important part of our sewing team.</p>
            </div>
            <div class="col-lg-4 border-bottom pb-5">
                <h3>Lei</h3>
                <h4 class="text-danger">Seamstress</h4>
                <p>From the countryside, Lei was born Deaf. Due to lack of resources, she received only two years of education but was able to learn basic Sign Language through her Deaf friends.</p>
                <p>When she heard about the Deaf Training Program at Project Grace (now Bless China International), she decided to learn more Sign Language. While in the program she realised a love for sewing and stayed in Kunming to become one of Hearts and Hands’ very first workers.</p>
                <p>Working at Hearts and Hands has brought Lei Hong Mei friendship and confidence. She is now happily married and communicates easily through Sign. She continues to be an important part of our sewing team.</p>
            </div>
            <div class="col-lg-4 border-bottom pb-5">
                <h3>Lei</h3>
                <h4 class="text-danger">Seamstress</h4>
                <p>From the countryside, Lei was born Deaf. Due to lack of resources, she received only two years of education but was able to learn basic Sign Language through her Deaf friends.</p>
                <p>When she heard about the Deaf Training Program at Project Grace (now Bless China International), she decided to learn more Sign Language. While in the program she realised a love for sewing and stayed in Kunming to become one of Hearts and Hands’ very first workers.</p>
                <p>Working at Hearts and Hands has brought Lei Hong Mei friendship and confidence. She is now happily married and communicates easily through Sign. She continues to be an important part of our sewing team.</p>
            </div>
        </div>
        <div class="row pt-5">
            <div class="col-lg-4 border-bottom pb-5">
                <h3>Lei</h3>
                <h4 class="text-danger">Seamstress</h4>
                <p>From the countryside, Lei was born Deaf. Due to lack of resources, she received only two years of education but was able to learn basic Sign Language through her Deaf friends.</p>
                <p>When she heard about the Deaf Training Program at Project Grace (now Bless China International), she decided to learn more Sign Language. While in the program she realised a love for sewing and stayed in Kunming to become one of Hearts and Hands’ very first workers.</p>
                <p>Working at Hearts and Hands has brought Lei Hong Mei friendship and confidence. She is now happily married and communicates easily through Sign. She continues to be an important part of our sewing team.</p>
            </div>
            <div class="col-lg-4 border-bottom pb-5">
                <h3>Lei</h3>
                <h4 class="text-danger">Seamstress</h4>
                <p>From the countryside, Lei was born Deaf. Due to lack of resources, she received only two years of education but was able to learn basic Sign Language through her Deaf friends.</p>
                <p>When she heard about the Deaf Training Program at Project Grace (now Bless China International), she decided to learn more Sign Language. While in the program she realised a love for sewing and stayed in Kunming to become one of Hearts and Hands’ very first workers.</p>
                <p>Working at Hearts and Hands has brought Lei Hong Mei friendship and confidence. She is now happily married and communicates easily through Sign. She continues to be an important part of our sewing team.</p>
            </div>
            <div class="col-lg-4 border-bottom pb-5">
                <h3>Lei</h3>
                <h4 class="text-danger">Seamstress</h4>
                <p>From the countryside, Lei was born Deaf. Due to lack of resources, she received only two years of education but was able to learn basic Sign Language through her Deaf friends.</p>
                <p>When she heard about the Deaf Training Program at Project Grace (now Bless China International), she decided to learn more Sign Language. While in the program she realised a love for sewing and stayed in Kunming to become one of Hearts and Hands’ very first workers.</p>
                <p>Working at Hearts and Hands has brought Lei Hong Mei friendship and confidence. She is now happily married and communicates easily through Sign. She continues to be an important part of our sewing team.</p>
            </div>
        </div>
    </div>
</body>
</html>