<!DOCTYPE html>
<html lang="en">
<head>
        <link href="../../static/first_app/img/HandLogo-transparent.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hearts & Hands</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body class="">
        <header>
                <div class="">
        
                        <div class="container">
                             <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white pl-5 m-0 p-0">
                                 <div class="container">
                                 <button class="navbar-toggler mt-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <a class="navbar-brand"><img src="../../static/first_app/img/HeartsAndHandLogo-transparent.png" class="" style="height: 50px"></a>
                                    <span class="navbar-toggler-icon"></span>
                                 </button>
                                 <div class="collapse navbar-collapse">
                                     <ul class="navbar-nav">
                                         <li class="nav-item ml-4 align-middle mt-2">
                                             <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                                         </li>
                                         <li class="ml-4 nav-item dropdown active mt-2">
                                             <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 ABOUT
                                             </a>
                                             <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                                 <a class="dropdown-item" href="/about/">WHO WE ARE</a>
                                                 <a class="dropdown-item" href="/about/#deaf">WHY WORK WITH THE DEAF?</a>
                                                 <a class="dropdown-item" href="/about/#difference">HOW WE'RE MAKING A DIFFERENCE</a>
                                                 <a class="dropdown-item" href="/about/#stories">OUR STORIES</a>
                                             </div>
                                         </li>
                                         <li class="nav-item dropdown ml-4 mt-2">
                                             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                 PRODUCTS
                                             </a>
                                             <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="/products/">ALL</a>
                                                <a class="dropdown-item" href="/products/">BAGS</a>
                                                <a class="dropdown-item" href="/products/">JEWELRY</a>
                                                <a class="dropdown-item" href="/products/">ACCESSORIES</a>
                                                <a class="dropdown-item" href="/products/">SEASONAL</a>
                                             </div>
                                         </li>
                                         <li class="nav-item ml-4">
                                             <a class="navbar-brand" href="/"><img src="../../static/first_app/img/HeartsAndHandLogo-transparent.png" class="" style="height: 50px"></a>
                                         </li>
                                         <li class="nav-item ml-4 mt-2">
                                             <a class="nav-link" href="/get_involved/">GET INVOLVED</a>
                                         </li>
                                         <li class="nav-item ml-4 mt-2">
                                             <a class="nav-link" href="#">CART</a>
                                         </li>
                                         <li class="nav-item ml-4 mt-2">
                                             <a class="nav-link" href="/contact/1/">CONTACT</a>
                                         </li>
                                     </ul>
                                 </div>
                                 <div class="collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav">
                                            <li class="nav-item align-middle mt-2">
                                                <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                                            </li>
                                            <li class=" nav-item dropdown active mt-2">
                                                <a class="nav-link dropdown-toggle" href="/about/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    ABOUT
                                                </a>
                                                <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="/about/">WHO WE ARE</a>
                                                    <a class="dropdown-item" href="/about/#deaf">WHY WORK WITH THE DEAF?</a>
                                                    <a class="dropdown-item" href="/about/#difference">HOW WE'RE MAKING A DIFFERENCE</a>
                                                    <a class="dropdown-item" href="/about/#stories">OUR STORIES</a>
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown mt-2">
                                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    PRODUCTS
                                                </a>
                                                <div class="dropdown-menu border-0" aria-labelledby="navbarDropdown">
                                                    <a class="dropdown-item" href="/products/">ALL</a>
                                                    <a class="dropdown-item" href="/products/">BAGS</a>
                                                    <a class="dropdown-item" href="/products/">JEWELRY</a>
                                                    <a class="dropdown-item" href="/products/">ACCESSORIES</a>
                                                    <a class="dropdown-item" href="/products/">SEASONAL</a>
                                                </div>
                                            </li>
                                            <li class="nav-item mt-2">
                                                <a class="nav-link" href="/get_involved/">GET INVOLVED</a>
                                            </li>
                                            <li class="nav-item mt-2">
                                                <a class="nav-link" href="#">CART</a>
                                            </li>
                                            <li class="nav-item mt-2">
                                                <a class="nav-link" href="/contact/1/">CONTACT</a>
                                            </li>
                                        </ul>
                                    </div>
                             </div>
                             </nav>
                        </div>
                     </div>
                </header>
    <form>
        <fieldset disabled>
            <input type="text" class="border-0">
            <input type="text" class="border-0">
            <input type="text" class="border-0">
            <input type="text" class="border-0">
        </fieldset>
    </form>
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-3 border-bottom pb-5">
                <div class="container bg-dark text-white p-3">
                    <h4 class="text-danger">Share Design Ideas</h4>
                    <p class="involved">We love creating new products so if you have a design for a product that you think we could create, we'd love to hear from you.</p>
                    <a class="text-danger" href="/contact/2/">Send Us Your Ideas</a>
                </div>
            </div>
            <div class="col-lg-3 border-bottom pb-5">
                <div class="container bg-dark text-white p-3">
                    <h4 class="text-danger">General Manager</h4>
                    <p class="involved">We're looking for someone who's passionate about serving the disadvantaged and who wants to make an impact in the lives of those who are less fortunate.</p>
                    <a class="text-danger" href="/contact/3/">Contact us for more details</a>
                </div>
            </div>
            <div class="col-lg-3 border-bottom pb-5">
                <div class="container bg-dark text-white p-3">
                    <h4 class="text-danger">Sales Reps</h4>
                    <p class="involved">We are always looking for Sales Representatives to sell our products in China and abroad. You can sell at local markets, fairs, churches or even in your own home.</p>
                    <a class="text-danger" href="/contact/4/">Contact us for more details</a>
                </div>
            </div>
            <div class="col-lg-3 border-bottom pb-5">
                <div class="container bg-dark text-white p-3">
                    <h4 class="text-danger">In-house Staff</h4>
                    <p class="involved">If you think you have a skill that would be useful, we want to hear from you. Marketing, accounting or design specialist are welcome to contact us. Of course, you would have to be located in Kunming, China to qualify!</p>
                    <a class="text-danger" href="/contact/5/">Contact us for more details</a>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
        /* p.involved {
            height: 350px;
        } */
        .bg-dark {
            height: 450px;
        }

</style>
</html>