<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Submitted</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'survey/css/style.css' %}">
    
</head>
<body>
    <p class="container bg-success">
        Thanks for submitting this form! You have submitted this form {{request.session.count}} times now.
    </p>
    <div class="container">
        <h1>Submitted Info</h1>
        <h3>Name:                  {{request.session.name}}</h3>
        <h3>Dojo Location:         {{request.session.dojo}}</h3>
        <h3>Favorite Language:     {{request.session.favorite}}</h3>
        <h3>Comments:              {{request.session.comments}}</h3>
        <a class= "btn btn-light" href="/">Return</a>
    </div>
</body>
</html>